body {
    font-family: 'Arial', sans-serif;
}

.label {
    color: #695e4a;
    display: block;
    font-size: 1.0625em;
    margin-bottom: .5em;
}

.label--alt {
    color: #006595;
    font-size: 1.25em;
}

.label--inline {
    display: inline-block;
}

.input {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: .75em;
    width: 100%;
}

.input--checkbox {
    margin-right: 1em;
    width: 1em;
}

.field {
    max-width: 40em;
    width: 100%;
}

.field-group {
    list-style: none;
    padding-left: 0;
}

.button {
    background-color: #5ab44b;
    border-radius: 5px;
    border: 0;
    color: white;
    cursor: pointer;
    font-size: 1.125em;
    height: 2em;
    padding: .25em .75em;
    transition: background-color .35s ease;
}

.button:disabled {
    background-color: #aaa;
    cursor: default;
    opacity: .8;
}

.columns {
    display: flex;
    flex-direction: row;
    margin-top: 3em;
}

.column--secondary {
    margin-right: 5em;
    width: 15%;
}

.column--primary {
    width: 85%;
}
